<div class="container-fluid">
  <div class="pull-right">
    <img src="../assets/img/shop.jpeg" class="rounded float-right" height="600" width="600" alt="shop foto">
  </div>
  <h5 class="font-weight-bold font-italic">{{'about.quote1'|translate}}</h5>
  <br>
  <h6>{{'about.quote2'|translate}}</h6>
  <br>
  <h6>{{'about.quote3'|translate}}</h6>
  <br>
  <h6>{{'about.quote4'|translate}}</h6>
  <br>
  <h6>{{'about.quote5'|translate}}</h6>
  <br>
  <h6>{{'about.quote6'|translate}}</h6>
  <br>
  <h6>{{'about.quote7'|translate}}</h6>
  <br>
  <h6>{{'about.quote8'|translate}}</h6>
  <br>
  <h6>{{'about.quote9'|translate}}</h6>
  <br>
  <h6>{{'about.quote10'|translate}}</h6>
  <br>
  <h6>{{'about.quote11'|translate}}</h6>
  <br>
  <h6>{{'about.quote12'|translate}}</h6>
</div>
