<div class="row mx-4 my-4">
  <div class="col-2 m-auto">
    <h3 class="font-weight-bold">ORDERS</h3>
  </div>
</div>
<div class="row mx-4 my-4">
  <div class="col-8 m-auto">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Date</th>
        <th scope="col">Order number</th>
        <th scope="col">Manager</th>
        <th scope="col">Status</th>
        <th scope="col">Accept/Sent</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of mockOrders">
        <th scope="row">{{increment()}}</th>
        <td>{{order.creatingDate}}</td>
        <td>ORD{{order.id}}</td>
        <td>{{order.manager}}</td>
        <td>{{order.status}}</td>
        <td>{{order.completionDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
