<nav class="navbar navbar-expand navbar-purple bg-light">
  <div class="collapse navbar-collapse">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-xl" href="#"><h3>О нас</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h3>Стулья</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h3>Столы</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h3>Шкафы</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h3>Комоды</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h3>Двери</h3></a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-outline-primary btn-lg" routerLink="/login" type="button">
          Авторизация
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-secondary btn-lg" routerLink="/register" type="button">
          Регистрация
        </button>
      </li>
    </ul>

  </div>

</nav>
