<div class="row mx-4 my-4">

  <div class="col-6 m-auto">
    <div class="btn-group-lg" role="group">
      <button type="button" class="btn btn-secondary" (click)="switchForm('updateProfile');">
        {{'PROFILE.edit'|translate}}
      </button>
      <button *ngIf="!requisiteExists()" type="button" class="btn btn-primary" (click)="switchForm('addRequisite')">
        {{'PROFILE.address.add'|translate}}
      </button>
      <button *ngIf="requisiteExists()" type="button" class="btn btn-secondary" (click)="switchForm('updateRequisite')">
        {{'PROFILE.address.edit'|translate}}
      </button>
      <button type="button" class="btn btn-danger" (click)="switchForm('delete')">
        {{'PROFILE.delete'|translate}}
      </button>
    </div>
  </div>

</div>

<div [ngSwitch] = "showForm">

  <div *ngSwitchCase="'updateProfile'" class="row mx-4 my-4">
    <div class="col-5 m-auto bg-white">
      <h4 class="ml-4 my-4">{{'PROFILE.edit.title'|translate}}</h4>
      <form method="post" (submit)="updateProfile()">

        <div class="form-group">
          <label for="fullName" class="floatLabel">{{ 'PROFILE.edit.name' | translate }}</label>
          <input class="form-control" id="fullName" name="fullName" type="text" [(ngModel)]="user.fullName"
                 aria-describedby="nameHelp" required minlength="4">
          <small id="nameHelp" class="form-text text-muted">{{ 'REGISTER.name.help' | translate }}</small>
        </div>

        <div class="form-group">
          <label for="email">{{'PROFILE.edit.email'|translate}}</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="user.email"
                 [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="birthday">{{'PROFILE.edit.birthday'|translate}}</label>
          <small id="dateHelp" class="form-text text-muted">
            {{'PROFILE.birthday.help' | translate}}{{getBirthday(user.birthday)}}
          </small>
          <input type="date" class="form-control" id="birthday" placeholder="getBirthday(user.birthday)"
          [(ngModel)]="user.birthday" [ngModelOptions]="{standalone: true}" aria-describedby="dateHelp">

          <!--<input type="date" class="form-control" id="birthday"-->
                 <!--[(ngModel)]="user.birthday" [ngModelOptions]="{standalone: true}">-->
        </div>

        <div class="form-check-group" id="check-group">
          <label class="form-check-label" for="check-group">{{'PROFILE.edit.sex'|translate}}</label>

          <div class="form-check mx-4">
            <input class="form-check-input" name="group100" type="radio" id="male" [(ngModel)]="user.sex" [value]="true"
                   [checked]="getSex(user)">
            <label class="form-check-label" for="male">{{'PROFILE.edit.sex.male'|translate}}</label>
          </div>

          <div class="form-check mx-4">
            <input class="form-check-input" name="group100" type="radio" id="female" [(ngModel)]="user.sex" [value]="false"
                   [checked]="!getSex(user)" >
            <label class="form-check-label" for="female">{{'PROFILE.edit.sex.female'|translate}}</label>
          </div>
        </div>

        <div class="form-footer my-4">
          <alert id="updateUser" type="success" *ngIf="isUpdated">{{ 'ALERT.changes' | translate }}</alert>
          <button type="submit" class="btn btn-primary">{{'BUTTON.submit'|translate}}</button>
          <button type="reset" class="btn btn-secondary">{{'BUTTON.clean'|translate}}</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngSwitchCase="'addRequisite'" class="row mx-4 my-4">
    <div class="col-5 m-auto bg-white">
      <h4 class="ml-4 my-4">{{'PROFILE.address.title'|translate}}</h4>
      <form method="post" (submit)="addRequisite()">

        <div class="form-group">
          <label for="addZip">{{'PROFILE.address.zip'|translate}}</label>
          <input type="text" class="form-control" id="addZip" [(ngModel)]="zip" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="addCountry">{{'PROFILE.address.country'|translate}}</label>
          <input type="text" class="form-control" id="addCountry" [(ngModel)]="country" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="addCity">{{'PROFILE.address.city'|translate}}</label>
          <input type="text" class="form-control" id="addCity" [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="addAddress">{{'PROFILE.address.address'|translate}}</label>
          <input type="text" class="form-control" id="addAddress" [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-footer my-4">
          <alert id="updateRequisiteSuccess" type="success" *ngIf="isAdded">{{ 'ALERT.changes' | translate }}</alert>
          <button type="submit" class="btn btn-primary">{{'BUTTON.submit'|translate}}</button>
          <button type="reset" class="btn btn-secondary">{{'BUTTON.clean'|translate}}</button>
        </div>

      </form>
    </div>
  </div>

  <div *ngSwitchCase="'updateRequisite'" class="row mx-4 my-4">
    <div class="col-5 m-auto bg-white">
      <h4 class="ml-4 my-4">{{'PROFILE.address.title'|translate}}</h4>
      <form method="post" (submit)="updateRequisite()">

        <div class="form-group">
          <label for="zip">{{'PROFILE.address.zip'|translate}}</label>
          <input type="text" class="form-control" id="zip" [(ngModel)]="user.requisite.zip"
                 [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="country">{{'PROFILE.address.country'|translate}}</label>
          <input type="text" class="form-control" id="country" [(ngModel)]="user.requisite.country"
                 [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="city">{{'PROFILE.address.city'|translate}}</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="user.requisite.city"
                 [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="address">{{'PROFILE.address.address'|translate}}</label>
          <input type="text" class="form-control" id="address" [(ngModel)]="user.requisite.address"
                 [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-footer my-4">
          <alert id="updateRequisite" type="success" *ngIf="isUpdated">{{ 'ALERT.changes' | translate }}</alert>
          <button type="submit" class="btn btn-primary">{{'BUTTON.submit'|translate}}</button>
          <button type="reset" class="btn btn-secondary">{{'BUTTON.clean'|translate}}</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngSwitchCase="'delete'" class="row mx-4 my-4">
    <div class="col-5 m-auto bg-white" [hidden]="isDeleted">
      <h3>{{'PROFILE.delete.title'|translate}}</h3>
      <div class="my-4">
        <button type="submit" class="btn btn-danger" (click)="delete()" routerLink="/">
          {{'BUTTON.delete'|translate}}
        </button>
      </div>
    </div>
    <alert id="success" *ngIf="isDeleted" type="success">{{'ALERT.success'|translate}}</alert>
  </div>

</div>

