<div id="manager-orders" class="container-fluid mx-4 my-4">
  <div class="table-wrapper">
    <div class="row mx-4 my-4" *ngIf="isEmpty(productList)">
      <div class="col-3 m-auto">
        <h4>{{'list.empty'|translate}}</h4>
      </div>
    </div>
    <div class="table-title">
      <div class="row">
        <div class="col-5 m-auto font-weight-bold">
          <h3>{{'product.title'|translate}}</h3>
        </div>
      </div>
    </div>
    <table class="col-10 table table-striped table-hover" *ngIf="!isEmpty(productList)">
      <thead>
        <tr>
          <th>{{'product.name'|translate}}</th>
          <th>{{'product.manufacturer'|translate}}</th>
          <th>{{'product.imageUrl'|translate}}</th>
          <th>{{'product.desc'|translate}}</th>
          <th colspan="2">
            <button type="button" class="btn btn-primary" (click)="openAddProductModal()">
              {{'product.addProduct'|translate}}
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of productList">
        <td>{{item.name}}</td>
        <td>
          <button *ngIf="!isRequisiteExists(item)" type="button" class="btn btn-primary" (click)="addRequisite(item)">
            {{'product.addRequisite'|translate}}
          </button>
          {{item.manufacturer.title}}
        </td>
        <td>{{item.url}}</td>
        <td>{{item.description}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="openUpdateProductModal(item)">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
        <td>
          <a href="#deleteProductModal" class="btn btn-danger" (click)="prepareDeleteProduct(item)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div >

<ng-template #productModal>
  <div class="modal-header">
    <h3 *ngIf="!isProductExists(product)" class="modal-title ml-auto">{{'product.addProduct'|translate}}</h3>
    <h3 *ngIf="isProductExists(product)" class="modal-title ml-auto">{{'product.updateProduct'|translate}}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form action="#" method="post" (submit)="addProduct()">

        <div class="form-group">
          <label for="title" class="floatLabel">{{ 'product.name' | translate }}</label>
          <input class="form-control" id="title" name="title" type="text" [(ngModel)]="product.name"
                 [ngModelOptions]="{standalone: true}" required>
        </div>

        <div class="form-group">
          <label for="category" class="floatLabel">{{ 'product.category' | translate }}</label>
          <select id="category" class="status-select" size="1" [(ngModel)]="product.category"
                  [ngModelOptions]="{standalone: true}">
            <option *ngFor="let category of categoryList" [ngValue]="category"
                    [selected]="selected(category.title, product.category.title)">
              {{category.title|translate}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="manufacturer" class="floatLabel">{{ 'product.manufacturer' | translate }}</label>
          <select id="manufacturer" class="status-select" size="1" [(ngModel)]="product.manufacturer"
                  [ngModelOptions]="{standalone: true}">
            <option *ngFor="let manufacturer of manufacturerList" [ngValue]="manufacturer"
                    [selected]="selected(manufacturer.id, product.manufacturer.id)">
              {{manufacturer.title|translate}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="url" class="floatLabel">{{ 'product.imageUrl' | translate }}</label>
          <input class="form-control" id="url" name="url" type="text" [(ngModel)]="product.url"
                 [ngModelOptions]="{standalone: true}" required>
        </div>

        <div class="form-group">
          <label for="desc" class="floatLabel">{{ 'product.desc' | translate }}</label>
          <textarea class="form-control" id="desc" name="desc" type="text" [(ngModel)]="product.description"
                    [ngModelOptions]="{standalone: true}" required></textarea>
        </div>

        <div class="form-footer">
          <button id="submit" class="btn btn-primary" type="submit">{{ 'BUTTON.submit' | translate }}</button>
          <button id="reset" class="btn btn-secondary" type="reset">{{ 'BUTTON.clean' | translate }}</button>
          <button id="close" class="btn btn-secondary" type="button" data-dismiss="modal" (click)="modalRef.hide()">
            {{ 'BUTTON.close' | translate }}
          </button>
        </div>
      </form>
      <alert id="success" *ngIf="isAdded" type="success">{{'ALERT.success'|translate}}</alert>
    </div>
  </div>
</ng-template>

<div id="deleteProductModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">{{'product.delete.title'|translate}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>{{'product.delete.text'|translate}}</p>
          <p class="text-warning"><small>{{'customer.delete.warning'|translate}}</small></p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" data-dismiss="modal">{{'BUTTON.close'|translate}}</a>
          <button type="submit" class="btn btn-danger" (click)="deleteProduct(product.id)">
            {{'button.delete'|translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
