<div class="container-fluid mx-4 my-4">
  <div class="table-wrapper">
    <div class="row mx-4 my-4" *ngIf="basketItems?.length == 0">
      <div class="col-3 m-auto">
        <h4>{{'basket.empty'|translate}}</h4>
      </div>
    </div>
    <div class="table-title">
      <div class="row">
        <div class="col-6">
          <h2 class="float-right">{{'basket.title'|translate}}</h2>
        </div>
      </div>
    </div>
    <table class="col-10 table table-striped table-hover" *ngIf="basketItems?.length > 0">
      <thead>
      <tr>
        <th>{{'basket.name'|translate}}</th>
        <th>{{'basket.manufacturer'|translate}}</th>
        <th>{{'basket.quantity'|translate}}</th>
        <th>{{'basket.price'|translate}}</th>
        <th>{{'basket.value'|translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let basketItem of basketItems">
        <td>{{basketItem.product.name}}</td>
        <td>{{basketItem.product.manufacturer}}</td>
        <td>
          <input type="number" name="quantity" class="input-number" [(ngModel)]="basketItem.quantity" min="1" max="10">
        </td>
        <td>{{basketItem.price}}</td>
        <td>{{basketItem.quantity * basketItem.price}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete(basketItem.product.id)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td class="font-weight-bold float-right">{{'basket.total'|translate}}</td>
        <td>{{totalPrice()}}</td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td colspan="2">
          <button type="button" class="col btn btn-success" (click)="makeOrder()">{{'basket.order'|translate}}</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
