<div class="container-fluid mx-4 my-4">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-6">
          <h2 class="float-right">{{'BASKET.title'|translate}}</h2>
        </div>
      </div>
    </div>

    <div class="row mx-4 my-4" *ngIf="isBasketEmpty()">
      <div class="col-3 m-auto">
        <h4>{{'BASKET.empty'|translate}}</h4>
      </div>
    </div>

    <alert *ngIf="isOrderFormed" type="success" class="text-center" dismissOnTimeout="3000">
      {{'BASKET.alert'|translate}}
    </alert>

    <table class="col-10 table table-striped table-hover" *ngIf="!isBasketEmpty()">
      <thead>
      <tr>
        <th>{{'BASKET.name'|translate}}</th>
        <th>{{'BASKET.manufacturer'|translate}}</th>
        <th>{{'BASKET.quantity'|translate}}</th>
        <th>{{'BASKET.value'|translate}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let basketItem of basketList">
        <td>{{basketItem.product.category.title | translate}} {{basketItem.product.name}}</td>
        <td>{{basketItem.product.manufacturer.title}}</td>
        <td>
          <input type="number" name="quantity" class="input-number" [(ngModel)]="basketItem.quantity" min="1" max="10">
        </td>
        <td>{{(basketItem.quantity * getPrice(basketItem.price)).toFixed(2)}} {{'CURRENCY'|translate}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete(basketItem)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      <tr class="total-price">
        <td colspan="2"></td>
        <td class="float-right">{{'BASKET.total'|translate}}</td>
        <td>{{totalPrice().toFixed(2)}}{{'CURRENCY'|translate}}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td>
          <button type="button" class="btn btn-success" (click)="makeOrder()">{{'BASKET.order'|translate}}</button>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
