<ng-template #registerModal>
  <div class="modal-header">
    <h4 id="modal-title" class="modal-title text-center">{{ 'register.title' | translate }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"
            routerLink="/about">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form action="#" method="post" (submit)="submit()" [hidden]="success">

        <div class="form-group">
          <label for="fullName" class="floatLabel">{{ 'register.name' | translate }}</label>
          <input class="form-control" id="fullName" name="fullName" type="text" [(ngModel)]="fullName"
                 aria-describedby="nameHelp" required minlength="4">
          <small id="nameHelp" class="form-text text-muted">{{ 'register.name.help' | translate }}</small>
          <alert id="nameAlert" class="danger" *ngIf="isShortName">{{ 'register.alert.length' | translate }}</alert>
        </div>

        <div class="form-group">
          <label for="login" class="floatLabel">{{ 'register.login' | translate }}</label>
          <input class="form-control" id="login" name="login" type="text" [(ngModel)]="login" aria-describedby="logHelp"
                 required minlength="4">
          <small id="logHelp" class="form-text text-muted">{{ 'register.login.help' | translate }}</small>
          <alert id="logAlert" class="danger" *ngIf="isShortLogin">{{ 'register.alert.length' | translate }}</alert>
        </div>

        <div class="form-group">
          <label for="email" class="floatLabel">{{ 'register.email' | translate }}</label>
          <input class="form-control" id="email" name="email" type="text" [(ngModel)]="email" required>
          <alert id="emailAlert" class="danger" *ngIf="isIncorrectEmail">{{ 'register.alert.email' | translate }}</alert>
        </div>

        <div class="form-group">
          <label for="password" class="floatLabel">{{ 'register.password' | translate }}</label>
          <input class="form-control" id="password" name="password" type="password" [(ngModel)]="password"
                 aria-describedby="passHelp" required minlength="7">
          <small id="passHelp" class="form-text text-muted">{{ 'register.password.help' | translate }}</small>
          <alert id="passAlert" class="danger" *ngIf="isShortPass">{{ 'register.alert.length' | translate }}</alert>
        </div>

        <div class="form-group">
          <label for="confirmPassword" class="floatLabel">{{ 'register.confirmPassword' | translate }}</label>
          <input class="form-control" id="confirmPassword" name="confirmPassword" type="password"
                 [(ngModel)]="confirmPassword" required minlength="7">
          <alert id="equalAlert" class="danger" *ngIf="notEqual">{{ 'register.alert.notEqual' | translate }}</alert>
        </div>

        <div class="form-footer">
          <button id="submit" class="btn btn-primary" type="submit">{{ 'button.submit' | translate }}</button>
          <button id="reset" class="btn btn-secondary" type="reset">{{ 'button.clean' | translate }}</button>
          <button id="close" class="btn btn-secondary" type="button" data-dismiss="modal" (click)="modalRef.hide()"
                  routerLink="/about">
            {{ 'button.close' | translate }}
          </button>
        </div>
      </form>
      <alert id="success" *ngIf="success" type="success">
        {{ 'alert.register.success.part1' | translate }}
        {{ user.fullName }}
        {{ 'alert.register.success.part2' | translate }}
      </alert>
      <alert id="danger" *ngIf="isExist" type="danger" dismissOnTimeout="5000">
        {{ 'alert.register.danger.part1' | translate }}
        {{ login }}
        {{ 'alert.register.danger.part2' | translate }}
      </alert>
    </div>
  </div>
</ng-template>
