<div class="row mx-1">

  <div class="col-xl-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/chairs/green.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Зеленый стул</h5>
        <h6 class="card-title">Номер: ххх001х</h6>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="footer ">
          <p class="card-text font-weight-bold d-inline">Цена: 5 руб.</p>
          <a href="#" class="btn btn-primary d-inline float-right">В корзину</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/chairs/red.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Красный стул</h5>
        <h6 class="card-title">Номер: ххх001х</h6>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="footer ">
          <p class="card-text font-weight-bold d-inline">Цена: 6 руб.</p>
          <a href="#" class="btn btn-primary d-inline float-right">В корзину</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/chairs/white.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Белый стул</h5>
        <h6 class="card-title">Номер: ххх001х</h6>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

        <div class="footer">
          <p class="card-text font-weight-bold d-inline">Цена: 7 руб.</p>
          <a href="#" class="btn btn-primary d-inline float-right">В корзину</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row"></div>
<div class="row"></div>


<!--<div class="card-group">-->
  <!--<div class="card">-->
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Card title</h5>-->
      <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="card">-->
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Card title</h5>-->
      <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="card">-->
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Card title</h5>-->
      <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="card">-->
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Card title</h5>-->
      <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="card">-->
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Card title</h5>-->
      <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="card">-->
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <!--<div class="card-body">-->
      <!--<h5 class="card-title">Card title</h5>-->
      <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
