<div class="row mx-1 my-4" style="height: 50%;">
  <div *ngFor="let storageItem of storageItems" class="col-xl-4" >
    <div class="card">
      <img class="card-img-top" src="{{storageItem.product.url}}" alt="No image">
      <div class="card-body">
        <h6 class="card-title">{{'viewer.code'|translate}}{{storageItem.code}}</h6>
        <p class="card-text">{{'viewer.stock'|translate}}{{storageItem.quantity}}{{'viewer.it'|translate}}</p>
        <h6 class="card-title">{{'viewer.title'|translate}}{{storageItem.product.name}}</h6>
        <h6 class="card-title">{{'viewer.manufacturer'|translate}}{{storageItem.product.manufacturer.title}}</h6>
        <p class="card-text">{{'viewer.desc'|translate}}{{storageItem.product.description}}.</p>
        <div class="footer ">
          <alert *ngIf="showSuccessAlert(storageItem.product.id)" type="success">{{'viewer.addToBasket'|translate}}</alert>
          <p class="card-text font-weight-bold d-inline">
            {{'viewer.price'|translate}}{{storageItem.price}}{{'viewer.currency'|translate}}
          </p>
          <button *ngIf="isCustomer()" type="button" class="btn btn-primary d-inline float-right" (click)="addToBasket(storageItem.product.id)">
            {{'viewer.basket'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
